html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    padding: 0;
    width: 70%;
    margin: auto;
    text-align: justify;
    font-family: Roboto;
    font-weight: 100;
}



/* NAV */

.nav{
    
}


/* TOP */

.top{
    border: 4px black none;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.top .bar{
    width: 98.5%;
    height:1px;
    background-color:rgba(210, 210, 210, 0.91);
    float: left;
}
.top h1{
    font-family: Roboto;
    color: #5e5151;
    font-weight: 100;
    margin-bottom: 15px;
    display: block;
    float: left;
}



.top button{
    margin-top: 25px;
    margin-right: 15px;    
}

/* CONTENT */

.content{
    margin-top: 20px;
    width: 100%;
    height: 90%;
    border: 0px solid grey;
    overflow: hidden;
}

.left, .right{
    width: 100%;
    border: 0px solid lightgrey;
    height: 100%;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}

.mid-btn{
    border: 1px solid #333;
}


.size-75{
    width: 75%;
}

.size-50{
    width: 50%;
}

.size-25{
    width: 25%;
}


.roboto{
    font-family: Roboto;
    font-family: Roboto;
    color: #5e5151;
    font-weight: 100;
    
}

button{
    padding: 8px 30px;
    background-color: white;
    border: 1px solid #222;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    float: right;
}

button:hover{
    background-color: #222;
    color:white;
}

.mid-btn,.sml-btn{
    border: 1px solid #333;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}



.mid-btn:hover,.sml-btn:hover{
    background:#333;
    color:white;
}

.pic{
    position: relative;
    overflow: hidden;
    border: 1px solid #333;
    cursor: pointer;
    height: 200px;
}


.pic-low{
    position: relative;
    overflow: hidden;
    border: 1px solid #333;
    cursor: pointer;
    height: 200px;
}



.grunt{
    background: url("../image/menu/grunt.jpg");
    background-position: 50% 30%;
    background-size: 120%;
    transition: all .2s;
}

.crew{
    background: url("../image/menu/DSC_4403-600x397.jpg");
    background-position: 50% 50%;
    background-size: 100%;
    transition: all .2s;
}

.rappeurs{
    background: url("../image/menu/benybrownies.jpg");
     background-position: 50% 5%;
    background-size: 100%;
    transition: all .2s;
}

.actu{
    background: url("../image/menu/1995_LVHH.jpg");
     background-position: 50% 50%;
    background-size: 120%;
    transition: all .2s;
}


.mapping{
     background: url("../image/menu/caba.jpg");
     background-position: 50% 50%;
    background-size: 180%;
    transition: all .2s;
}


.nek{
     background: url("../image/menu/nekfeu-4-le-bon-son.png");
     background-position: 50% 50%;
    background-size: 180%;
    transition: all .2s;
}

.keur{
     background: url("../image/menu/11227493_1632188493692307_533968838_o.jpg");
     background-position: 50% 50%;
    background-size: 180%;
    transition: all .2s;
}

.bende{
    background: url("../image/menu/43e039df79864057beb6811cd504d14d.600x400x1.jpg");
     background-position: 50% 50%;
    background-size: 130%;
    transition: all .2s;
}

.pic:before{
    content: attr(data-pic);
    position: absolute;
    text-align: center;
    color: white;
    line-height: 200px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: 0.2s all;
}




.pic:hover{
    /*background-position: 50% 50%;*/
    background-size: 150%;
    
}

.pic:hover:before{
    background-color: rgba(0,0,0,0.7);
    font-size: 30px;
    
}



.pic-low:before{
    content: attr(data-pic);
    position: absolute;
    text-align: center;
    color: white;
    line-height: 200px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: 0.2s all;
}


.pic-low:hover{
    /*background-position: 50% 50%;*/
    background-size: 150%;
    
}

.pic-low:hover:before{
    background-color: rgba(0,0,0,0.7);
    font-size: 30px;
    
}

.finish:before{
    z-index: -1;
}


.mapping:hover{
    background-size: 220%;
}

.nek:hover{
    background-size: 220%;
}


footer{
    position: fixed;
    bottom: 10px;
    left: 50%;
    font-size: 15px;
    margin-left: -70px;
}


::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-thumb:vertical {
        margin: 5px;
        background-color: #999;
        -webkit-border-radius: 5px;
    }
    
    ::-webkit-scrollbar-button:start:decrement,
    ::-webkit-scrollbar-button:end:increment {
        height: 5px;
        display: block;
    }


/*  ACTUALITE */






