<form action="">
    <p>Ajouter Crew :</p>
    <div class="a" data-number="1">
        <input type="text" name="nb1">
        <button> + </button>
    </div>
    <input type="button" value="valider">
</form>






