html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;
}

.main{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 12.5%;
    margin-bottom: 12.5%;
    border: 1px solid grey;
    border-radius: 4px;
    /*border-top-right-radius: 4px;*/
}

.content {
    width: 100%;
    margin: 0;
    height: 80%;
    padding: 10px;
    overflow: hidden;
}

.soumission-list {
  height: 100%;
  overflow-y: scroll;
}

.soumission-item {
  border: 1px solid red;
  padding: 8px;
}

.soumission-list::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.soumission-list::-webkit-scrollbar-thumb {
    background-color: gray;
}

#no-padding {
    padding: 0;
}

#propositions {
    border: 1px solid blue;
    width: 178px;
}

.crews {
    overflow: hidden;
}

#add_c {
    padding: 5px 10px;
    background-color: #2ecc71;
    border: 1px solid #2ecc71;
    border-radius: 5px;
    text-decoration: none;
    float: left;
}

#add {
    padding: 5px 20px;
    background-color: #2980b9;
    border: 1px solid #2980b9;
    border-radius: 5px;
    text-decoration: none;
}

#d_button{
    padding: 5px 20px;
    background-color: #2980b9;
    border: 1px solid #2980b9;
    border-radius: 5px;
    text-decoration: none;
}

#delete_c {
    padding: 5px 10px;
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 5px;
    text-decoration: none;
    float: left;
    margin-right: 25px;
}

input {
    border: 1.5px solid grey;
    border-radius: 4px;
    padding-left: 5px;
    height: 30px;
    margin-bottom: 6px;
    margin-right: 5px;
}

ul {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid grey;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

li {
    text-align: center;
    border-right: 1px solid grey;
}

li:last-child {
    border: 0;
}

.alert-display {
    display: none;
}
